@import "~bootstrap/scss/bootstrap";

body {
    background-image: url("../img/picsum16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(37, 37, 65);
}

h1{
    color: white;
    font-size: 3em;
}



