@import "~bootstrap/scss/bootstrap";

body {
    background-image: url("../img/picsum16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(55, 55, 228);
}

h1{
    color: white;
    font-size: 3em;
}



.return-home{
    height: 30px;
    border: 2px solid white;
    border-radius: 20px;
    position: fixed;
    right: 10px;
    bottom: 10px;  
}

.home-link{
    text-decoration: none;
    color: black;
}

.paginator{
    width: 500px;
    margin: auto;
    margin-top: 2em;
}

form{
    margin-left: 2em;
    width: 900px;
    color: white;
}